div {
    background: grey;
    width: 610px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  div h1 {
    color: #eff0f7;
  }
  div p {
    font-size: 20px;
    color: #110101;
  }